.idea
./__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
init_model/
*.tar.gz
test_local/
RapidASR
export/*
*.pyc
.eggs
MaaS-lib
.gitignore
.egg*
dist
build
funasr.egg-info
docs/_build
modelscope
samples
.ipynb_checkpoints
outputs*
emotion2vec*
GPT-SoVITS*
modelscope_models
examples/aishell/llm_asr_nar/*
*egg-info

runtime/websocket/bin/ffmpeg-master-latest-linux64-gpl-shared/*
runtime/websocket/bin/onnxruntime-linux-x64-1.14.0/*
runtime/websocket/third_party/*
runtime/log.txt